# R logs
.Rhistory
.Rproj.user

# VSCode stuff
.vscode
.python-version

# Slurm stuff
slurm*.out

# Auth stuff
er-forest-structure/config/eastriver-r-googledrive-clientsecret.json
er-forest-structure/config/eastriver-r-googledrive_auth.txt
