# R logs
.Rhistory
.Rproj.user
.RData

# VSCode stuff
.vscode
.python-version

# Jupyter stuff
.ipynb_checkpoints

# Slurm stuff
slurm*.out

# rclone stuff
inst/shell_scripts/nohup.out

# Auth stuff
er-forest-structure/config/eastriver-r-googledrive-clientsecret.json
er-forest-structure/config/eastriver-r-googledrive_auth.txt
