# R logs
.Rhistory

# VSCode stuff
.vscode
.python-version

# Slurm stuff
slurm*.out
.Rproj.user

# Auth stuff
er-forest-inventory/config/eastriver-r-googledrive-clientsecret.json
er-forest-inventory/config/eastriver-r-googledrive_auth.txt
